@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
html {
  font-size: 63%;
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}

body,
#root {
  height: 100vh;
  margin: 0;
}
body,
input,
select,
textarea {
  font-size: 1.6rem;
  font-family: Montserrat, Helvetica, Arial, sans-serif;
}

.grid-container {
  display: grid;
  grid-template-areas:
    'header'
    'main'
    'footer';
  grid-template-rows: 5rem 1fr 3rem;
  grid-template-columns: 1fr;
  height: 100%;
}
a:hover {
  color: #ff8000;
}

header {
  grid-area: header;
  display: flex;
  align-items: center;
}
main {
  grid-area: main;
}
header a {
  text-decoration: none !important;
}
.content {
  display: flex;
  flex-wrap: wrap;
}
.main {
  flex: 3 60rem;
}
.sidebar {
  flex: 1 20rem;
}

/* Products start*/
.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.products li {
  flex: 0 1 29rem;
  height: 47rem;
  padding: 1rem;
}
.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.product img {
  max-width: 37rem;
  max-height: 37rem;
}

.product-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.25rem;
}
.product-price div,
.product-price button {
  text-align: center;
  flex: 1;
  font-size: 1.5625rem;
}
.product-price div {
  font-size: 2rem;
}
/* Products End*/

/* Filter start */
.filter {
  display: flex;
  padding: 1rem;
  margin: 1rem;
  border-bottom: 1px solid #c0c0c0;
  justify-content: space-between;
}
.filter div {
  flex: 1;
}
/* Filter End */

/* Cart section start */
.cart {
  padding: 1rem;
  margin: 1rem;
  display: flex;
}
.cart-header {
  border-bottom: 1px solid #c0c0c0;
}
.cart-items {
  padding: 0;
  width: 100%;
  list-style: none;
  text-decoration: none;
}
.cart-items img {
  width: 5rem;
}
.cart-items li {
  display: flex;
}
.cart-items li div {
  padding: 0.5rem;
}
.cart-items li div:last-child {
  flex: 1;
}
.right {
  text-align: right;
}
.cart-items li button,
.cart button {
  font-size: 1.3rem;
  margin-left: 5px;
}
.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.total div,
.total > button {
  flex: 1;
  font-size: 1.7rem;
}
/* Cart section end */

/* Form Container */
form {
  width: 100%;
}
.form-container {
  width: 100%;
  padding: 0;
  list-style: none;
}
.form-container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
.form-container input {
  padding: 1rem;
  width: 100%;
  border: 1px solid #e1e1e1;
}
.form-container li {
  margin-bottom: 15px;
}
/* Form Container */

/* product Modal start */
.product-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-height: 96vh;
}
.product-details img {
  max-height: 100vh;
  max-width: 40rem;
  margin: 0 auto;
}
.product-details-descrition {
  flex: 1 1;
  padding-left: 20px;
}
.close-modal {
  position: absolute;
  right: 1rem;
  top: 2.5rem;
  z-index: 1000;
}
/* product Modal end */

/* Order Modal start */
.order-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70%;
}
.order-details li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.order-details li div {
  padding: 10px;
}
.order-details .items {
  text-align: left;
  padding: 0;
}
.success-message {
  color: green;
}
/* Order Modal End */

footer {
  grid-area: footer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}
